*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100svh;
}

p,h2,a{
    line-height: 1.5;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;   
}

.card{
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    gap: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px 5px rgb(181, 191, 204);
}

img{
    border-radius: 0.8rem;
    box-shadow: 0px 0px 10px 3px rgb(200, 211, 224);
}

h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.card p{
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
}

footer{
    margin: auto;
}

footer p,a{ 
    color: hsl(218, 44%, 22%);
    font-size: 0.8rem; 
}

